.version.dos /* version checker */
{
	color: #000016;
	background-color: #4BFF58;
}

.html
{
	background: #FFFFFF url("/images/fondo.jpg") no-repeat left top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.8874992275655px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -57px;
	padding-bottom: 222px;
	width: 0.01px;
}

#u208
{
	z-index: 2;
	width: 185px;
	margin-left: 20px;
}

#ppu274-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 20px;
}

#pu274-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 154px;
}

#u274-4
{
	z-index: 9;
	width: 105px;
	min-height: 16px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 24px;
}

#u275
{
	z-index: 13;
	width: 154px;
	height: 28px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	background: transparent url("/images/boton_menu-normal.png") no-repeat left top;
	background-size: contain;
}

#u275.MuseLinkActive
{
	width: 154px;
	height: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("/images/boton_menu-activo.png") no-repeat left top;
	background-size: contain;
}

#pu278-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 462px;
}

#u278-4
{
	z-index: 19;
	width: 105px;
	min-height: 16px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 24px;
}

#u279
{
	z-index: 23;
	width: 154px;
	height: 28px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	background: transparent url("/images/boton_menu-normal.png") no-repeat left top;
	background-size: contain;
}

#u279:hover
{
	width: 154px;
	height: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("/images/boton_menu-hover.png") no-repeat left top;
	background-size: contain;
}

#pu282-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 770px;
}

#u282-4
{
	z-index: 29;
	width: 105px;
	min-height: 16px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 24px;
}

#u283
{
	z-index: 33;
	width: 154px;
	height: 28px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	background: transparent url("/images/boton_menu-normal.png") no-repeat left top;
	background-size: contain;
}

#u283:hover
{
	width: 154px;
	height: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("/images/boton_menu-hover.png") no-repeat left top;
	background-size: contain;
}

#u272-4
{
	z-index: 4;
	width: 105px;
	min-height: 16px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 24px;
}

#u273
{
	z-index: 8;
	width: 154px;
	height: 28px;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	background: transparent url("/images/boton_menu-normal.png") no-repeat left top;
	background-size: contain;
}

#u273:hover
{
	width: 154px;
	height: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("/images/boton_menu-hover.png") no-repeat left top;
	background-size: contain;
}

#u276-4
{
	z-index: 14;
	width: 105px;
	min-height: 16px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 332px;
}

#u277
{
	z-index: 18;
	width: 154px;
	height: 28px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 308px;
	background: transparent url("/images/boton_menu-normal.png") no-repeat left top;
	background-size: contain;
}

#u277:hover
{
	width: 154px;
	height: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("/images/boton_menu-hover.png") no-repeat left top;
	background-size: contain;
}

#u280-4
{
	z-index: 24;
	width: 105px;
	min-height: 16px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 640px;
}

#u281
{
	z-index: 28;
	width: 154px;
	height: 28px;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	left: 616px;
	background: transparent url("/images/boton_menu-normal.png") no-repeat left top;
	background-size: contain;
}

#u281:hover
{
	width: 154px;
	height: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("/images/boton_menu-hover.png") no-repeat left top;
	background-size: contain;
}

#u279:active,#u283:active,#u273:active,#u277:active,#u281:active
{
	width: 154px;
	height: 28px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("/images/boton_menu-normal.png") no-repeat left top;
	background-size: contain;
}

#pu404
{
	z-index: 35;
	width: 0.01px;
	position: relative;
	margin-left: 20px;
	margin-top: 14px;
}

#u404
{
	z-index: 0;
	width: 920px;
	background-color: #FF9109;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu405-4
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 12px;
	z-index: 2;
	padding-bottom: 11px;
}

#u405-4
{
	z-index: 36;
	width: 184px;
	min-height: 18px;
	background-color: transparent;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u535
{
	z-index: 75;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 195px;
}

#u540
{
	z-index: 76;
	position: relative;
	margin-right: -10000px;
	left: 823px;
}

#u543
{
	z-index: 77;
	position: relative;
	margin-right: -10000px;
	left: 856px;
}

#ppu406
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 1px;
}

#pu406
{
	z-index: 40;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u410-4
{
	z-index: 42;
	width: 123px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
}

#pu506
{
	z-index: 50;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 184px;
}

#pu510-4
{
	width: 0.01px;
	position: relative;
	left: 30px;
	padding-top: 6px;
	z-index: 2;
	padding-bottom: 5px;
}

#u510-4
{
	z-index: 52;
	width: 123px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
}

#pu512
{
	z-index: 56;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 368px;
}

#u516-4
{
	z-index: 58;
	width: 123px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
}

#pu518
{
	z-index: 62;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 552px;
}

#pu410-4,#pu516-4,#pu522-4
{
	width: 0.01px;
	position: relative;
	left: 30px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 5px;
}

#u522-4
{
	z-index: 64;
	width: 123px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
}

#pu524
{
	z-index: 68;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 736px;
}

#u406,#u506,#u512,#u518,#u524
{
	z-index: 0;
	width: 184px;
	background-color: #FFFFFF;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu528-3
{
	width: 0.01px;
	position: relative;
	left: 31px;
	padding-top: 6px;
	z-index: 2;
	padding-bottom: 5px;
}

#u528-3
{
	z-index: 70;
	width: 123px;
	min-height: 17px;
	background-color: transparent;
	text-align: center;
	color: #5F5F5F;
	position: relative;
	margin-right: -10000px;
}

#pppu507
{
	width: 0.01px;
	margin-left: 20px;
}

#ppu507
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 184px;
}

#pu507
{
	z-index: 51;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u507
{
	z-index: 0;
	width: 184px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: transparent url("/images/sombra_barra.png") repeat-x left top;
}

#pu508
{
	width: 0.01px;
	position: relative;
	left: 82px;
	z-index: 2;
	padding-bottom: 5px;
}

#u508
{
	z-index: 87;
	width: 21px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
}

#u502
{
	z-index: 46;
	width: 184px;
	height: 137px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
}

#pu504
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 552px;
}

#u504
{
	z-index: 48;
	width: 184px;
	height: 137px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
}

#u519
{
	z-index: 63;
	width: 184px;
	height: 16px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	background: transparent url("/images/sombra_barra.png") repeat-x left top;
}

#u520
{
	z-index: 91;
	width: 21px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#pu403
{
	z-index: 34;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u403
{
	z-index: 0;
	width: 184px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu421
{
	width: 0.01px;
	position: relative;
	left: 31px;
	padding-top: 39px;
	z-index: 2;
	padding-bottom: 31px;
}

#u421
{
	z-index: 73;
	width: 123px;
	height: 17px;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
}

#u423
{
	z-index: 74;
	width: 123px;
	height: 17px;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin-top: 34px;
	position: relative;
}

#pu560
{
	z-index: 78;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 828px;
}

#pu553
{
	width: 0.01px;
	position: relative;
	left: 28px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 77px;
}

#u553
{
	z-index: 80;
	position: relative;
	margin-right: -10000px;
}

#pu505
{
	z-index: 49;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 736px;
}

#u560,#u505
{
	z-index: 0;
	width: 92px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu550
{
	width: 0.01px;
	position: relative;
	left: 31px;
	padding-top: 35px;
	z-index: 2;
	padding-bottom: 77px;
}

#u550
{
	z-index: 79;
	position: relative;
	margin-right: -10000px;
}

#u407
{
	z-index: 41;
	width: 184px;
	height: 16px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	background: transparent url("/images/sombra_barra.png") repeat-x left top;
}

#u503
{
	z-index: 47;
	width: 184px;
	height: 137px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	left: 368px;
}

#u513
{
	z-index: 57;
	width: 184px;
	height: 16px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	left: 368px;
	background: transparent url("/images/sombra_barra.png") repeat-x left top;
}

#u525
{
	z-index: 69;
	width: 184px;
	height: 16px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	left: 736px;
	background: transparent url("/images/sombra_barra.png") repeat-x left top;
}

#u526
{
	z-index: 81;
	width: 21px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 774px;
}

#u563
{
	z-index: 83;
	width: 21px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 864px;
}

#u408
{
	z-index: 85;
	width: 21px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 82px;
}

#u514
{
	z-index: 89;
	width: 21px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 83px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

